body {
    font-family: Arial;
    color:rgb(240, 240, 240);
    background-color:rgb(83, 80, 123);
    font-size: 15px;
    font-weight: bold;
    
}

.cs-todo {
   display: grid;
   grid-template-columns: 25% 25% 25% 20%; 
   /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */ 
   /* grid-template-rows: 20% 20% 20% 20%; */
   column-gap: 10px;
   row-gap: 10px;
   align-items: center;

}
.cbut {
    border: none;
    background-color: rgb(55, 38, 172);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin: 5px;
   
}
/* .issub {
    background-color: rgb(240, 240, 240);
    color: black;
} */

.delb {
    border: none;
    border-radius: 5px;
    background-color: rgb(55, 38, 172);
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-right: 5px;
}

.box-input {
    font-size: 15px;
    /*text-align: center; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 55px;
}

.box-date {
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 115px;
}
